
<table class="table table-striped">
  <thead>
    <th>&nbsp;</th>
    <th>Provider</th>
    <th>Nickname</th>
    <%= if (owner) { %>
    <th>&nbsp;</th>
    <% } %>
  </thead>
  <tbody>
    <%= for (credential) in credentials { %>
      <tr>
        <td align="center">
          <%= if (credential.ProfileUrl != "") { %>
          <a href="<%= credential.ProfileUrl %>">
          <% } %>
            <%= if (credential.ImageUrl != "") { %>
              <img src="<%= credential.ImageUrl %>" alt="profile_image" class="img-thumbnail avatar-thumbnail">
            <% } else { %>
              <span class="glyphicon glyphicon-user avatar-thumbnail-blank" aria-hidden="true"></span>
            <% } %>
          <%= if (credential.ProfileUrl != "") { %>
          </a>
          <% } %>
        </td>
        <td><%= credential.Provider %></td>
        <td><%= credential.Nickname %></td>
        <%= if (owner) { %>
        <td>
          <div class="pull-right">
            <a href="<%= credentialPath({ credential_id: credential.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>
