<h1>Credentials</h1>

<p>
  <a href="<%= newCredentialPath() %>" class="btn btn-primary">Create New Credential</a>
</p>

<table class="table table-striped">
  <thead>
  <th>UserId</th>
    <th>Provider</th>
    <th>Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>ProfileUrl</th>
    <th>ImageUrl</th>
    <th>RefreshToken</th>
    <th>TokenExpiry</th>
    <th>Uid</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (credential) in credentials { %>
      <tr>
      <td><%= credential.UserID %></td>
        <td><%= credential.Provider %></td>
        <td><%= credential.Name %></td>
        <td><%= credential.Nickname %></td>
        <td><%= credential.Email %></td>
        <td><%= credential.ProfileUrl %></td>
        <td><%= credential.ImageUrl %></td>
        <td><%= credential.RefreshToken %></td>
        <td><%= credential.TokenExpiry %></td>
        <td><%= credential.Uid %></td>
        <td>
          <div class="pull-right">
            <a href="<%= credentialPath({ credential_id: credential.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editCredentialPath({ credential_id: credential.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= credentialPath({ credential_id: credential.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
