<h1>My Credentials</h1>

<table class="table table-striped">
  <thead>
    <th>&nbsp;</th>
    <th>Provider</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Uid</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (credential) in credentials { %>
      <tr>
        <td><a href="<%= credential.ProfileUrl %>"><img src="<%= credential.ImageUrl %>" alt="profile_image" class="img-thumbnail avatar-thumbnail"></a></td>
        <td><%= credential.Provider %></td>
        <td><%= credential.Nickname %></td>
        <td><%= credential.Email %></td>
        <td><%= credential.Uid %></td>
        <td>
          <div class="pull-right">
            <a href="<%= credentialPath({ credential_id: credential.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
