<h1>Credentials#Show</h1>

<ul class="list-unstyled list-inline">
  <li><a href="<%= credentialsPath() %>" class="btn btn-info">Back to all Credentials</a></li>
  <li><a href="<%= editCredentialPath({ credential_id: credential.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= credentialPath({ credential_id: credential.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>UserId</strong>: <%= credential.UserID %>
</p>
<p>
  <strong>Provider</strong>: <%= credential.Provider %>
</p>
<p>
  <strong>Name</strong>: <%= credential.Name %>
</p>
<p>
  <strong>Nickname</strong>: <%= credential.Nickname %>
</p>
<p>
  <strong>Email</strong>: <%= credential.Email %>
</p>
<p>
  <strong>ProfileUrl</strong>: <%= credential.ProfileUrl %>
</p>
<p>
  <strong>ImageUrl</strong>: <%= credential.ImageUrl %>
</p>
<p>
  <strong>RefreshToken</strong>: <%= credential.RefreshToken %>
</p>
<p>
  <strong>TokenExpiry</strong>: <%= credential.TokenExpiry %>
</p>
<p>
  <strong>Uid</strong>: <%= credential.Uid %>
</p>
