<h1>My Profile</h1>

<p>
  <strong>Username</strong>: <%= user.Username %>
</p>
<p>
  <strong>RealName</strong>: <%= user.RealName %>
</p>
<p>
  <strong>Country</strong>: <%= user.Country %>
</p>
<p>
  <strong>Region</strong>: <%= user.Region %>
</p>
<p>
  <strong>AvatarUrl</strong>: <%= user.AvatarUrl %>
</p>
<p>
  <strong>Email</strong>: <%= user.Email %>
</p>
<p>
  <strong>Public</strong>: <%= user.Visibility %>
</p>

<ul class="list-unstyled list-inline">
  <li><a href="<%= editUserPath({ user_id: user.ID })%>" class="btn btn-warning">Edit</a></li>
</ul>
